<section class="fila">
    <div class="col-lg-2"></div>
    <div class="workBox col-lg-8">
        <section class="fila">
            <div class="col-lg-2"></div>
            <label for="duration" class="col-lg-2">Development Software:</label>
            <div class="col-lg-6">{{ArraytoString(ski.devSof)}}</div>
            <div class="col-lg-2"></div>
        </section>
        <section class="fila">
            <div class="col-lg-2"></div>
            <label for="duration" class="col-lg-2">Program Languages:</label>
            <div class="col-lg-6">{{ArraytoString(ski.progLan)}}</div>
            <div class="col-lg-2"></div>
        </section>
        <section class="fila">
            <div class="col-lg-2"></div>
            <label for="duration" class="col-lg-2">Front-End:</label>
            <div class="col-lg-6">{{ArraytoString(ski.front)}}</div>
            <div class="col-lg-2"></div>
        </section>
        <section class="fila">
            <div class="col-lg-2"></div>
            <label for="duration" class="col-lg-2">Back-End:</label>
            <div class="col-lg-6">{{ArraytoString(ski.back)}}</div>
            <div class="col-lg-2"></div>
        </section>
        <section class="fila">
            <div class="col-lg-2"></div>
            <label for="duration" class="col-lg-2">Packcage Manager:</label>
            <div class="col-lg-6">{{ArraytoString(ski.packMan)}}</div>
            <div class="col-lg-2"></div>
        </section>
        <section class="fila">
            <div class="col-lg-2"></div>
            <label for="duration" class="col-lg-2">DataBase:</label>
            <div class="col-lg-6">{{ArraytoString(ski.database)}}</div>
            <div class="col-lg-2"></div>
        </section>
        <section class="fila">
            <div class="col-lg-2"></div>
            <label for="duration" class="col-lg-2">Integration & Deploy Continuos:</label>
            <div class="col-lg-6">{{ArraytoString(ski.cidi)}}</div>
            <div class="col-lg-2"></div>
        </section>
        <section class="fila">
            <div class="col-lg-2"></div>
            <label for="duration" class="col-lg-2">Office Tools:</label>
            <div class="col-lg-6">{{ArraytoString(ski.officeTools)}}</div>
            <div class="col-lg-2"></div>
        </section>
    </div>
    <div class="col-lg-2"></div>
</section>