<div class="fila contentBox">
    <section *ngFor="let card of cards;let idx=index" class="itemCard" [ngClass]="card.class">
        <div class="CustomCard">
            <header class="CardTitle fn-lg-20 fn-md-20 fn-sm-20 fn-xs-20">{{card.title}}</header>
            <section class="cardContent col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div *ngIf="card.tag=='profile' ">
                    <div [ngClass]="{ 'containImg col-lg-3 col-md-4 col-sm-12 col-xs-12': card.image} " *ngIf="card.image ">
                        <img class="imageSize " src="{{card.image}} " alt="foto tarjeta ">
                    </div>
                    <div id="p{{idx}}" [ngClass]="{ ' col-lg-9 col-md-8 col-sm-12 col-xs-12': card.image, 'col-lg-12 col-md-12 col-sm-12 col-xs-12': !card.image } ">
                        <p class="fn-lg-20 fn-md-18 ">
                            {{card.content}}
                        </p>
                    </div>
                </div>
                <app-personalinfo *ngIf="card.tag=='persInfo' "></app-personalinfo>
                <app-skills *ngIf="card.tag=='skill' "></app-skills>
                <app-languages *ngIf="card.tag=='lang' "></app-languages>
            </section>
        </div>
    </section>
</div>




<!-- <mat-grid-list cols="2 " rowHeight="350px ">
        <mat-grid-tile *ngFor="let card of cards | async;let idx=index " [colspan]="card.cols " [rowspan]="card.rows ">
            <mat-card id="card{{idx}} " class="dashboard-card ">
                <mat-card-header>
                    <mat-card-title>
                        {{card.title}}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content ">
                    <div [class.fila]="card.image ">
                        <div [ngClass]="{ 'containImg col-lg-3 col-md-4 col-sm-12 col-xs-12': card.image} " *ngIf="card.image ">
                            <img class="imageSize " src="{{card.image}} " alt="foto tarjeta ">
                        </div>
                        <div id="p{{idx}} " [ngClass]="{ ' col-lg-9 col-md-8 col-sm-12 col-xs-12': card.image, 'col-lg-12 col-md-12 col-sm-12 col-xs-12': !card.image } ">
                            <p *ngIf="card.tag=='' " class="fn-lg-20 fn-md-18 ">
                                {{card.content}}
                            </p>
                            <app-personalinfo class="fn-md-14 " *ngIf="card.tag=='persInfo' "></app-personalinfo>
                            <app-skills *ngIf="card.tag=='skill' "></app-skills>
                            <app-languages *ngIf="card.tag=='lang' "></app-languages>
                        </div>

                    </div>

                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list> -->