<div class="grid-container">
    <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile *ngFor="let card of cards | async;let idx=index" [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        {{card.title}}
                        <button mat-icon-button (click)="toggle(card,'p' +idx);" class=" more-button " aria-label="Toggle menu ">
              <mat-icon>open_in_new</mat-icon>
            </button>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content ">
                    <div [class.fila]="card.image ">
                        <div [ngClass]="{'containImg col-lg-3 col-md-4 col-sm-4 col-xs-12': card.image} " *ngIf="card.image ">
                            <img class="imageSize" src="{{card.image}} " alt="foto tarjeta ">
                        </div>
                        <div id="p{{idx}}" [ngClass]="{ 'fn-lg-20 col-lg-9 fn-md-18 col-md-8 col-sm-8 col-xs-0': card.image} ">
                            <p>
                                {{card.content}}
                            </p>
                        </div>
                    </div>

                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>