.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.actual {
    background: #673ab7 !important;
    color: #fff !important;
}

.mat-nav-list.mat-list-base>a:hover {
    background-color: #FFC200;
}