<section *ngFor="let work of works" class="fila">
    <div class="col-lg-2"></div>
    <div class="workBox col-lg-8">
        <section class="fila">
            <div class="col-lg-2"></div>
            <label for="duration" class="col-lg-2">Duration:</label>
            <div class="col-lg-6">{{work._startDate | date: 'dd MMM yyyy'}} - {{work._endDate | date: 'dd MMM yyyy'}}</div>
            <div class="col-lg-2"></div>
        </section>
        <section class="fila">
            <div class="col-lg-2"></div>
            <label for="duration" class="col-lg-2">Ocupation:</label>
            <div class="col-lg-6" [innerHTML]="work._company"></div>
            <div class="col-lg-2"></div>
        </section>
        <section *ngIf="work._companyLogo" class="fila">
            <div class="col-lg-2"></div>
            <label for="duration" class="col-lg-2">Logo:</label>
            <div class="col-lg-6">
                <img width="100" height="100" src="{{work._companyLogo}}" alt="collegeLogo">
            </div>
            <div class="col-lg-2"></div>
        </section>
        <section class="fila">
            <div class="col-lg-2"></div>
            <label for="duration" class="col-lg-2">Activities Sumary:</label>
            <div class="col-lg-6" [innerHTML]="work._laborDescrip"></div>
            <div class="col-lg-2"></div>
        </section>
    </div>
    <div class="col-lg-2"></div>
</section>