<section class="fila">
    <div class="col-lg-2"></div>
    <div class="workBox col-lg-8">
        <section class="fila">
            <div class="col-lg-2"></div>
            <label for="duration" class="col-lg-2">ID:</label>
            <div class="col-lg-6">{{pers.id}}, {{pers.idPlaceExp}}</div>
            <div class="col-lg-2"></div>
        </section>
        <section class="fila">
            <div class="col-lg-2"></div>
            <label for="duration" class="col-lg-2">Birth Date:</label>
            <div class="col-lg-6">{{pers.birthDate}}</div>
            <div class="col-lg-2"></div>
        </section>
        <section class="fila">
            <div class="col-lg-2"></div>
            <label for="duration" class="col-lg-2">Cellphone:</label>
            <div class="col-lg-6">{{pers.cellphone}}</div>
            <div class="col-lg-2"></div>
        </section>
        <section class="fila">
            <div class="col-lg-2"></div>
            <label for="duration" class="col-lg-2">Email:</label>
            <div class="col-lg-6">{{pers.email}}</div>
            <div class="col-lg-2"></div>
        </section>
        <section class="fila">
            <div class="col-lg-2"></div>
            <label for="duration" class="col-lg-2">Address:</label>
            <div class="col-lg-6">{{pers.address}}</div>
            <div class="col-lg-2"></div>
        </section>
        <section class="fila">
            <div class="col-lg-2"></div>
            <label for="duration" class="col-lg-2">City:</label>
            <div class="col-lg-6">{{pers.city}}</div>
            <div class="col-lg-2"></div>
        </section>
        <section class="fila">
            <div class="col-lg-2"></div>
            <label for="duration" class="col-lg-2">Professional License:</label>
            <div class="col-lg-6">{{pers.proLic}}</div>
            <div class="col-lg-2"></div>
        </section>
    </div>
    <div class="col-lg-2"></div>
</section>