<section class="fila">
    <div class="persInfBox fn-xs-12">
        <section class="fila">
            <div class="col-lg-1 col-md-0 col-sm-1 col-xs-0"></div>
            <label for="duration" class="col-lg-2 col-md-12 col-sm-2 col-xs-12 fn-xs-12"><b>ID:</b></label>
            <div class="col-lg-8 col-md-12 col-sm-8 col-xs-12 fn-xs-12 fn-xs-10">{{pers.id}}, {{pers.idPlaceExp}}</div>
            <div class="col-lg-1 col-md-0 col-sm-1 col-xs-0"></div>
        </section>
        <hr>
        <section class="fila">
            <div class="col-lg-1 col-md-0 col-sm-1 col-xs-0"></div>
            <label for="duration" class="col-lg-2 col-md-12 col-sm-2 col-xs-12 fn-xs-12"> <b> Birth Date:</b></label>
            <div class="col-lg-8 col-md-12 col-sm-8 col-xs-12 fn-xs-12">{{pers.birthDate}}</div>
            <div class="col-lg-1 col-md-0 col-sm-1 col-xs-0"></div>
        </section>
        <hr>
        <section class="fila">
            <div class="col-lg-1 col-md-0 col-sm-1 col-xs-0"></div>
            <label for="duration" class="col-lg-2 col-md-12 col-sm-2 col-xs-12 fn-xs-12"><b>Cellphone:</b></label>
            <div class="col-lg-8 col-md-12 col-sm-8 col-xs-12 fn-xs-12">{{pers.cellphone}}</div>
            <div class="col-lg-1 col-md-0 col-sm-1 col-xs-0"></div>
        </section>
        <hr>
        <section class="fila">
            <div class="col-lg-1 col-md-0 col-sm-1 col-xs-0"></div>
            <label for="duration" class="col-lg-2 col-md-12 col-sm-2  col-xs-12 fn-xs-12"><b>Email:</b></label>
            <div class="col-lg-8 col-md-12 col-sm-8 col-xs-12 fn-xs-12">{{pers.email}}</div>
            <div class="col-lg-1 col-md-0 col-sm-1 col-xs-0"></div>
        </section>
        <hr>
        <section class="fila">
            <div class="col-lg-1 col-md-0 col-sm-1 col-xs-0"></div>
            <label for="duration" class="col-lg-2 col-md-12 col-sm-2  col-xs-12 fn-xs-12"><b>Address:</b></label>
            <div class="col-lg-8 col-md-12 col-sm-8 col-xs-12 fn-xs-12">{{pers.address}}</div>
            <div class="col-lg-1 col-md-0 col-sm-1 col-xs-0"></div>
        </section>
        <hr>
        <section class="fila">
            <div class="col-lg-1 col-md-0 col-sm-1 col-xs-0"></div>
            <label for="duration" class="col-lg-2 col-md-12 col-sm-2  col-xs-12 fn-xs-12"><b>City:</b></label>
            <div class="col-lg-8 col-md-12 col-sm-8 col-xs-12 fn-xs-12">{{pers.city}}</div>
            <div class="col-lg-1 col-md-0 col-sm-1 col-xs-0"></div>
        </section>
        <hr>
        <section class="fila">
            <div class="col-lg-1 col-md-0 col-sm-1 col-xs-0"></div>
            <label for="duration" class="col-lg-2 col-md-12 col-sm-2  col-xs-12 fn-xs-12"><b>Professional License:</b></label>
            <div class="col-lg-8 col-md-12 col-sm-8 col-xs-12 fn-xs-12">{{pers.proLic}}</div>
            <div class="col-lg-1 col-md-0 col-sm-1 col-xs-0"></div>
        </section>
    </div>

</section>