.head {
    text-align: center;
    background-color: burlywood;
    height: 10vh;
}

.navi {
    background-color: rgb(255, 213, 205);
    height: 5vh;
}

.navi .item {
    background-color: rgb(250, 206, 140);
    margin: 0px 5px 0px 5px;
    text-align: center;
    text-decoration: none;
}

.ContentPpal {
    background-color: blanchedalmond;
    height: 80vh;
    overflow: auto;
}

.foot {
    background-color: burlywood;
    height: 5vh;
}

.bgred {
    background-color: crimson;
    border: 1px solid black;
}

.bggreen {
    background-color: rgb(149, 240, 107);
    border: 1px solid black;
}

.actual {
    text-decoration: none;
    background-color: coral !important;
    color: white;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
}