<div class="contenedor">

    <header class="fila">
        <div class="head col-lg-2 col-md-2 col-sm-12">
            <div class="col-lg-12 col-md-12 col-sm-12">Foto </div>
        </div>
        <div class="head col-lg-8 col-md-8 col-sm-0">
            <div class="col-lg-12 col-md-12">Carlos Andrés Pereira Grimaldo </div>
        </div>
        <div class="head col-lg-2 col-md-2 col-sm-12">
            <div class="col-lg-6 col-md-6 col-sm-6">Es</div>
            <div class="col-lg-6 col-md-6 col-sm-6">En</div>
        </div>
    </header>

    <nav class="fila">
        <div class="navi col-lg-12 col-md-12 col-sm-0">
            <a class="item col-lg-1 col-md-1 col-sm-0" [routerLink]="['/Home']" [routerLinkActive]="['actual']" title="Profile">Profile</a>
            <a class="item col-lg-1 col-md-1 col-sm-0" [routerLink]="['/Education']" [routerLinkActive]="['actual']">Education</a>
            <a class="item col-lg-1 col-md-1 col-sm-0" [routerLink]="['/WorkExp']" [routerLinkActive]="['actual']">Work Experience</a>
            <a class="item col-lg-1 col-md-1 col-sm-0" [routerLink]="['/PersInfo']" [routerLinkActive]="['actual']" title="Personal Informatión">Per. Informatión</a>
            <a class="item col-lg-1 col-md-1 col-sm-0" [routerLink]="['/Skills']" [routerLinkActive]="['actual']">Skills</a>
            <a class="item col-lg-1 col-md-1 col-sm-0" [routerLink]="['/Languages']" [routerLinkActive]="['actual']">Languages</a>
            <a class="item col-lg-1 col-md-1 col-sm-0" [routerLink]="['/References']" [routerLinkActive]="['actual']">References</a>
        </div>
    </nav>

    <section class="fila">
        <div class="ContentPpal col-lg-12 col-md-12 col-sm-12">
            <router-outlet></router-outlet>
        </div>
    </section>
    <footer class="fila">
        <div class="foot col-lg-12 col-md-12 col-sm-12">lenguaje</div>
    </footer>

</div>