.head {
    text-align: center;
    background-color: burlywood;
    height: 10vh;
}

.navi {
    background-color: rgb(255, 213, 205);
    height: 5vh;
}

.navi .item {
    background-color: rgb(250, 206, 140);
    margin: 0px 5px 0px 5px;
    text-align: center;
    text-decoration: none;
}

.ContentPpal {
    background-color: blanchedalmond;
    height: 80vh;
    overflow: auto;
}

.foot {
    background-color: burlywood;
    height: 5vh;
}