<app-nav>
    <div class="contenedor">

        <header class="fila">
            <div class="head col-lg-2 col-md-2 col-sm-12">
                <div class="col-lg-12 col-md-12 col-sm-12">Carlos Andrés Pereira Grimaldo </div>
            </div>
            <div class="head col-lg-8 col-md-8 col-sm-0">
                <div class="col-lg-12 col-md-12">System Engineer</div>
            </div>
            <div class="head col-lg-2 col-md-2 col-sm-12">
                <div class="col-lg-6 col-md-6 col-sm-6">Es</div>
                <div class="col-lg-6 col-md-6 col-sm-6">En</div>
            </div>
        </header>

        <nav class="fila">
            <div class="navi col-lg-12 col-md-12 col-sm-0">
                <a *ngFor="let menu of menusApp" class=" item {{menu._colDis}} " [routerLink]="[menu._route]" [routerLinkActive]="['actual']" title="{{menu._hint}}">{{menu._tag}}</a>
            </div>
        </nav>

        <section class="fila">
            <div class="ContentPpal col-lg-12 col-md-12 col-sm-12">
                <router-outlet></router-outlet>
            </div>
        </section>
        <footer class="fila">
            <div class="foot col-lg-12 col-md-12 col-sm-12">lenguaje</div>
        </footer>

    </div>
</app-nav>