/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
    box-sizing: border-box;
    /* box-sizing: border-box; Omite el tamaño de los bordes en el cálculo de porcentajes*/
}

.contenedor {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
}

.fila {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    clear: both;
    /* clear: both; hace que los flotante de una fila no floten enfrente de otra fila*/
    display: table;
    /*display: table; Causa que otros elementos respeten el espacio designado para un elemento de clase fila*/
}

[class*="col-"] {
    float: left;
    padding: 10px;
    /* border: 1px solid black; */
}


/*==========================================================================
PANTALLA DE ESCRITORIO GRANDE - LARGE (lg)
===========================================================================*/

@media(min-width:1200px) {
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666666%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666666%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666666%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.666666666%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
    .col-lg-0 {
        display: none;
    }
    .fn-lg-14 {
        font-size: 14px !important;
    }
    .fn-lg-16 {
        font-size: 16px !important;
        line-height: 1.25;
    }
    .fn-lg-18 {
        font-size: 18px !important;
        line-height: 1.5;
    }
    .fn-lg-20 {
        font-size: 20px !important;
        line-height: 1.5;
    }
    .fn-lg-22 {
        font-size: 22px !important;
        line-height: 2;
    }
}


/*==========================================================================
PANTALLA DE ESCRITORIO MEDIANO - MEDIUM (md)
===========================================================================*/

@media(max-width:1199px) and (min-width:992px) {
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666666%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666666%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666666%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.666666666%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-0 {
        display: none;
    }
    .fn-md-14 {
        font-size: 14px !important;
    }
    .fn-md-16 {
        font-size: 16px !important;
        line-height: 1.25;
    }
    .fn-md-18 {
        font-size: 18px !important;
        line-height: 1.5;
    }
    .fn-md-20 {
        font-size: 20px !important;
        line-height: 1.5;
    }
    .fn-md-22 {
        font-size: 22px !important;
        line-height: 2;
    }
}


/*==========================================================================
PANTALLA DE TABLET - SMALL (sm)
===========================================================================*/

@media( max-width:991px) and (min-width:768px) {
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666666%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666666%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666666%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.666666666%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
    .col-sm-0 {
        display: none;
    }
    .fn-sm-14 {
        font-size: 14px !important;
    }
    .fn-sm-16 {
        font-size: 16px !important;
        line-height: 1.25;
    }
    .fn-sm-18 {
        font-size: 18px !important;
        line-height: 1.5;
    }
    .fn-sm-20 {
        font-size: 20px !important;
        line-height: 1.5;
    }
    .fn-sm-22 {
        font-size: 22px !important;
        line-height: 2;
    }
}


/*==========================================================================
PANTALLA DE TELEFONOS - EXTRA SMALL (xs)
===========================================================================*/

@media( max-width:767px) {
    .col-xs-12 {
        width: 100%;
    }
    .col-xs-11 {
        width: 91.66666666%;
    }
    .col-xs-10 {
        width: 83.33333333%;
    }
    .col-xs-9 {
        width: 75%;
    }
    .col-xs-8 {
        width: 66.66666666%;
    }
    .col-xs-7 {
        width: 58.33333333%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-5 {
        width: 41.66666666%;
    }
    .col-xs-4 {
        width: 33.33333333%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-2 {
        width: 16.666666666%;
    }
    .col-xs-1 {
        width: 8.33333333%;
    }
    .col-xs-0 {
        display: none;
    }
    .fn-xs-14 {
        font-size: 14px !important;
    }
    .fn-xs-16 {
        font-size: 16px !important;
        line-height: 1.25;
    }
    .fn-xs-18 {
        font-size: 18px !important;
        line-height: 1.5;
    }
    .fn-xs-20 {
        font-size: 20px !important;
        line-height: 1.5;
    }
    .fn-xs-22 {
        font-size: 22px !important;
        line-height: 2;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}